@using Agro.Model.Dto.Intention
@using Agro.Model.PaginatedList
@* //@model PaginatedList<IntentionDto> *@
@model IEnumerable<Agro.Model.Dto.Intention.IntentionDto>


@{
    ViewData["Title"] = "Заявки";
}

<h1>Заявки</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().City.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Message)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().IntentionStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().AnimalPart)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.City.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Message)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.IntentionStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AnimalPart)
                </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Редактировать</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Детали</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
