@model IEnumerable<PlatF.Model.Entities.Request>
@inject PlatF.Localization.LocService SharedLocalizer
@using PlatF.Helpers
@{
    ViewData["Title"] = "Запросы";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Подайте заявление</a>
</p>

<paging total-records="@ViewBag.TotalRecords"
        page-no="@ViewBag.PageNo"
        page-size="@ViewBag.PageSize"
        show-total-pages="false"
        show-total-records="false"
        show-page-size-nav="false">
</paging>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CityId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>


            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RequestStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EntryDate)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.City.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>


                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @item.RequestStatus.GetDescription()
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EntryDate)
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">@SharedLocalizer.GetLocalizedHtmlString("Edit")</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">@SharedLocalizer.GetLocalizedHtmlString("Details")</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">@SharedLocalizer.GetLocalizedHtmlString("Delete")</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="center">
    <paging total-records="@ViewBag.TotalRecords"
            page-no="@ViewBag.PageNo"
            page-size="@ViewBag.PageSize"
            show-total-pages="false"
            show-total-records="false"
            show-page-size-nav="false">
    </paging>
</div>
